.photo-wrapper {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.photo {
    height: 100%;
}
