.login-form-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    flex-grow: 0;
    width: 30%;
    height: 50%;
}
